<ul>
  <li><a [routerLink]="['/goals']" routerLinkActive="active"><mat-icon svgIcon="goals"></mat-icon> My Goals</a></li>
  <li><a [routerLink]="['/mentors/list']" routerLinkActive="active"><mat-icon svgIcon="mentors"></mat-icon> Find a Mentor</a></li>
  <li><a [routerLink]="['/requests']" routerLinkActive="active"><mat-icon svgIcon="requests"></mat-icon> Requests Inbox</a></li>
  <li><a [routerLink]="['/reviews']" routerLinkActive="active"><mat-icon svgIcon="reviews"></mat-icon> Reviews</a></li>
</ul>
