<ul>
  <li><a [routerLink]="['/goals/list']" routerLinkActive="active"><mat-icon svgIcon="goals"></mat-icon> My goals</a></li>
  <li><a [routerLink]="['/mentors/list']" routerLinkActive="active"><mat-icon svgIcon="mentors"></mat-icon> Mentors</a></li>
  <li><a [routerLink]="['/requests/list']" routerLinkActive="active"><mat-icon svgIcon="requests"></mat-icon> Requests</a></li>
  <li><a [routerLink]="['/reviews']" routerLinkActive="active"><mat-icon svgIcon="reviews"></mat-icon> Reviews</a></li>
</ul>
