<header class="header">
  <div class="container">
    <h1>Goals</h1>
    <p>View and edit pending requests. Initiate contact with mentors and start your mentorship.</p>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="box">
        <div class="box-content">
          <button class="btn btn-primary btn-block btn-cta">Add New Goal</button>
          <hm-menu></hm-menu>
        </div>
      </div>
    </div>
    <div class="col-9">
      <div class="mentors-list box">
        <hm-goal-item class="box-item" *ngFor="let goal of goals" [goal]="goal"></hm-goal-item>
      </div>
    </div>
  </div>
</div>
