<div class="left">
  <img src="/assets/images/logo.svg" class="logo" />
  <div class="centered">
    <h1>On-demand mentorship<br />
      for aspiring developers.</h1>
    <p>Find the perfect mentor to help you launch your software development career. Easily schedule chats with our community of experts to get help with your coding skills.</p>
    <button class="btn btn-primary btn-cta" (click)="fbLogin()">Find your mentor</button>
  </div>
</div>
<div class="right">
  <div class="menu">
    <a href="">Become a Mentor</a>
    <a href="">About</a>
    <a href="">Blog</a>
    <a href="">Contact</a>
  </div>
</div>
