.box {
  border-radius: 6px;
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(37, 50, 56, 0.1);
  .box-content, .box-header, .box-item {
    padding: 20px;
  }
  .box-header, .box-item {
    border-bottom: 1px solid $border-color;
    overflow: hidden;
  }
  .nav {
    margin-top: -20px;
    margin-bottom: -20px;
    margin-left: -20px;
    li {
      a {
        font-size: 14px;
        font-weight: $bold;
        border-right: 1px solid $border-color;
        height: 100%;
        padding: 20px;
        &.active {
          color: $main-color;
          border-bottom: 3px solid $main-color;
        }
      }
    }
  }
}
