.btn {
  cursor: pointer;
  padding: 0.57rem 2.6rem;
  border: none;
  font-weight: bold;
  &.btn-cta {
    background-image: linear-gradient(70deg, $main-color, $main-color-dark);
    box-shadow: 0 2px 4px 0 rgba(59, 98, 253, 0.3);
    &:hover {
      background: $main-color-dark;
    }
  }
  &.btn-primary {
    background-color: $main-color-dark;
  }
}
