.header {
  background: url(/assets/images/bg-header.jpg) no-repeat;
  background-size: cover;
  height: 210px;
  margin-bottom: -62px;
  color: #ffffff;
  padding-top: 36px;
  h1 {
    font-size: 36px;
    font-weight: bold;
  }
  p {

  }
}
