@import '~styles/variables/variables';

:host {
  color: white;
}

.wrapper {
  background-color: $main-color;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
}

.content {
  width: 540px;
  margin: 0 auto;
  margin-top: 300px;
  &.centered {
    align-self: center;
    margin-top: 0;
  }
}

h1, .label {
  font-size: 18px;
  font-weight: $semi-bold;
  margin-bottom: 25px;
  &.question {
    margin-bottom: 60px;
  }
}
.label {
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  margin-bottom: 40px;
}

.option {
  height: 50px;
  border-radius: 6px;
  background-color: white;
  width: 100%;
  font-size: 16px;
  color: $black;
  text-align: left;
  font-weight: normal;
  padding-left: 0.57rem;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  .icon {
    border: solid 2px #cfd8dc;
    display: inline-block;
    margin-right: 10px;
    &.radio-icon {
      width: 24px;
      height: 24px;
      border-radius: 50%;
    }
    &.checkbox-icon {
      width: 30px;
      height: 30px;
      border-radius: 4px;
      mat-icon {
        display: none;
      }
    }
  }
  &:hover, &.active {
    .icon {
      border-color: $main-color;
    }
  }
  &.active {
    .radio-icon {
      &:after {
        content: '';
        border-radius: 50%;
        width: 12px;
        height: 12px;
        background-color: $main-color;
        display: block;
        margin-top: 4px;
        margin-left: 4px;
      }
    }
    .checkbox-icon {
      background-color: $main-color;
      mat-icon {
        display: inline-block;
      }
    }
  }
}

.btn-next {
  margin-top: 10px;
  padding: 0.8rem 1.2rem;
}

.scroll {
  overflow-y: auto;
  height: 300px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 50px;
  &:last-of-type {
    margin-bottom: 30px;
  }
  .form-control {
    height: 50px !important;
    line-height: 50px;
  }
  textarea.form-control {
    min-height: 320px;
    line-height: unset;
  }
}
