@import 'colors';

$font-family-sans-serif: 'Open Sans', sans-serif;
$semi-bold: 600;
$bold: 700;

$body-color: $black;
$body-bg: $bg-color;
$primary: $main-color;

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
